@font-face {

  font-family: 'Noto Sans JP';

  font-style: normal;

  font-weight: 100;

  src: local(''),

    url('../fonts/noto-sans-jp-v28-latin-100.woff2') format('woff2'),

    /* Chrome 26+, Opera 23+, Firefox 39+ */

    url('../fonts/noto-sans-jp-v28-latin-100.woff') format('woff');

  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */

}



/* noto-sans-jp-300 - latin */

@font-face {

  font-family: 'Noto Sans JP';

  font-style: normal;

  font-weight: 300;

  src: local(''),

    url('../fonts/noto-sans-jp-v28-latin-300.woff2') format('woff2'),

    /* Chrome 26+, Opera 23+, Firefox 39+ */

    url('../fonts/noto-sans-jp-v28-latin-300.woff') format('woff');

  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */

}



/* noto-sans-jp-500 - latin */

@font-face {

  font-family: 'Noto Sans JP';

  font-style: normal;

  font-weight: 500;

  src: local(''),

    url('../fonts/noto-sans-jp-v28-latin-500.woff2') format('woff2'),

    /* Chrome 26+, Opera 23+, Firefox 39+ */

    url('../fonts/noto-sans-jp-v28-latin-500.woff') format('woff');

  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */

}



/* noto-sans-jp-regular - latin */

@font-face {

  font-family: 'Noto Sans JP';

  font-style: normal;

  font-weight: 400;

  src: local(''),

    url('../fonts/noto-sans-jp-v28-latin-regular.woff2') format('woff2'),

    /* Chrome 26+, Opera 23+, Firefox 39+ */

    url('../fonts/noto-sans-jp-v28-latin-regular.woff') format('woff');

  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */

}



/* noto-sans-jp-700 - latin */

@font-face {

  font-family: 'Noto Sans JP';

  font-style: normal;

  font-weight: 700;

  src: local(''),

    url('../fonts/noto-sans-jp-v28-latin-700.woff2') format('woff2'),

    /* Chrome 26+, Opera 23+, Firefox 39+ */

    url('../fonts/noto-sans-jp-v28-latin-700.woff') format('woff');

  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */

}



/* noto-sans-jp-900 - latin */

@font-face {

  font-family: 'Noto Sans JP';

  font-style: normal;

  font-weight: 900;

  src: local(''),

    url('../fonts/noto-sans-jp-v28-latin-900.woff2') format('woff2'),

    /* Chrome 26+, Opera 23+, Firefox 39+ */

    url('../fonts/noto-sans-jp-v28-latin-900.woff') format('woff');

  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */

}



body {

  font-style: normal;

  font-weight: 400;

  font-family: 'Noto Sans JP';

}



p,

a,

li {

  font-size: 18px;

  line-height: 30px;

}



a {

  text-decoration: none;



}



header a,

footer a {



  color: #fff;

}

a {

  color: #8ed61d;

}

a:hover {

  color: #8ed61d;

}



section {

  position: relative;

}



a:hover {

  text-decoration: none;

  transition: all 0.2s ease-in-out;

}



:focus {

  outline: -webkit-focus-ring-color auto 0px;

}



button:focus {

  outline: 1px dotted;

  outline: 0px auto -webkit-focus-ring-color;

}



ul {

  padding: 0px;

  position: relative;

  list-style: none;

}



.bar1,

.bar2,

.bar3 {

  width: 25px;

  height: 2px;

  background-color: #fff;

  margin: 5px 0;

  transition: 0.4s;

}



.change .bar1 {

  -webkit-transform: rotate(-45deg) translate(-5px, 5px);

  transform: rotate(-45deg) translate(-5px, 5px);

}



.change .bar2 {

  opacity: 0;

}



.change .bar3 {

  -webkit-transform: rotate(45deg) translate(-5px, -5px);

  transform: rotate(45deg) translate(-5px, -5px);

}



.min_width_100 {

  min-width: 100%;

}



.bg_light_gray {

  background: #f9f9f9;

}



.default_title h2 {

  font-size: 32px;

  font-weight: 700;

  line-height: 46px;

  display: inline-flex;

  position: relative;

  padding-top: 30px;

}



.default_title h2:before {

  content: "";

  height: 5px;

  width: 27%;

  position: absolute;

  background: #8ed61d;

  left: 0;

  right: 0;

  margin: auto;

  top: 0px;

}



.default_title.title_2 h2:before {

  margin: 0px;

}



.default_title.title_3 h2:before {

  margin: 0px;

  width: 65%;

}



/*Button Style*/



.link_btn {

  position: relative;

  margin: auto;

  padding: 12px 30px;

  transition: all 0.2s ease;

  display: inline-flex;

  align-items: center;

  color: #000;

  justify-content: center;

}



.link_btn:before {

  content: "";

  position: absolute;

  top: 0;

  left: 0;

  display: block;

  border-radius: 0px;

  background: #8ed61d;

  width: 100%;

  height: 100%;

  transition: all 0.3s ease;

}



.link_btn.btn_light:before {

  border: 1px solid #8ed61d;

  background: transparent;

}



.link_btn span {

  position: relative;

  font-size: 19px;

  font-weight: 400;

  vertical-align: middle;

}



.link_btn svg {

  position: relative;

  top: 0;

  margin-left: 20px;

  fill: none;

  stroke-linecap: round;

  stroke-linejoin: round;

  stroke: #111;

  stroke-width: 2;

  transform: translateX(-5px);

  transition: all 0.3s ease;

}



.link_btn:hover:before {

  width: 100%;

  background: #97f800;

}



.link_btn:hover span {

  color: #000;

}



.link_btn:hover svg {

  transform: translateX(0);

}



.link_btn:active {

  transform: scale(0.96);

}



/**/



header {

  position: absolute;

  top: 0;

  z-index: 99;

}



.header_top {

  border-bottom: .01em solid #ddd;

}



.header_top a {

  color: #fff;

  font-weight: 300;

  font-size: 16px;

}



.header_top a.tel {

  border-bottom: 2px solid #8ed61d;

  line-height: 20px;

}



.navbar-expand-lg .navbar-nav a {

  padding: 8px 30px !important;

  font-size: 16px;

  position: relative;

}



.navbar-expand-lg .navbar-nav a:after {

  content: "";

  position: absolute;

  width: 68%;

  height: 68%;

  transform: skew(0deg);

  background: #8ed61d;

  z-index: -1;

  left: 16%;

  top: 22%;

  opacity: 0;

  transition: all 0.5s ease;

}



.navbar-expand-lg .navbar-nav li.active a:after {

  opacity: 1;

  transform: skew(20deg);

}



.navbar-expand-lg .navbar-nav a:hover {

  color: #fff;

}



.navbar-expand-lg .navbar-nav a:hover::after {

  opacity: 1;

  transition: all 0.5s ease;

  transform: skew(20deg);

}



.main_menu {

  transition: all 0.2s ease;

}



.main_menu.sticky {

  position: fixed;

  top: 0;

  width: 100%;

  background: #000;

  transition: all 0.2s ease;

  box-shadow: 0px 0px 20px 0px #00000075;

}



/*Slider*/

.main_slider .item {

  height: 100vh;

  position: relative;

}



.main_slider .item img {

  width: 100%;

  height: 100%;

  object-fit: cover;

}



.main_slider .item .cover {

  padding: 75px 0;

  position: absolute;

  width: 100%;

  height: 100%;

  top: 0;

  left: 0;

  /* background: rgba(0, 0, 0, 0.6); */

  display: flex;

  align-items: center;

}



.main_slider .item .cover .header-content {

  position: relative;

  padding: 55px 0px;

  overflow: hidden;

}



.main_slider .item .cover .header-content .line {

  content: "";

  display: inline-block;

  width: 100%;

  height: 100%;

  left: 0;

  top: 0;

  position: absolute;

  border: 9px solid #fff;

  -webkit-clip-path: polygon(0 0, 60% 0, 36% 100%, 0 100%);

  clip-path: polygon(0 0, 60% 0, 36% 100%, 0 100%);

}



.main_slider .item .cover .header-content h2 {

  font-weight: 700;

  font-size: 40px;

  line-height: 60px;

  color: #fff;

}



.main_slider .item .cover .header-content h1 {

  font-size: 56px;

  font-weight: 600;

  margin: 5px 0 20px;

  word-spacing: 3px;

  color: #fff;

}



.main_slider .item .cover .header-content h4 {

  font-size: 20px;

  font-weight: 400;

  line-height: 60px;

  color: #fff;

}



.main_slider .owl-item.active h1 {

  -webkit-animation-duration: 1s;

  animation-duration: 1s;

  -webkit-animation-fill-mode: both;

  animation-fill-mode: both;

  animation-name: fadeInDown;

  animation-delay: 0.3s;

}



.main_slider .owl-item.active h2 {

  -webkit-animation-duration: 1s;

  animation-duration: 1s;

  -webkit-animation-fill-mode: both;

  animation-fill-mode: both;

  animation-name: fadeInDown;

  animation-delay: 0.3s;

}



.main_slider .owl-item.active h4 {

  -webkit-animation-duration: 1s;

  animation-duration: 1s;

  -webkit-animation-fill-mode: both;

  animation-fill-mode: both;

  animation-name: fadeInUp;

  animation-delay: 0.3s;

}



.main_slider .owl-item.active .line {

  -webkit-animation-duration: 1s;

  animation-duration: 1s;

  -webkit-animation-fill-mode: both;

  animation-fill-mode: both;

  animation-name: fadeInLeft;

  animation-delay: 0.3s;

}



.main_slider .owl-item.active a {

  -webkit-animation-duration: 1s;

  animation-duration: 1s;

  -webkit-animation-fill-mode: both;

  animation-fill-mode: both;

  animation-name: fadeInUp;

  animation-delay: 0.3s;

}





.main_slider .owl-nav .owl-prev,

.main_slider .owl-nav .owl-next {

  position: absolute;

  background: transparent !important;

  width: 40px;

  cursor: pointer;

  height: 40px;

  display: block;

  z-index: 1000;

  border-radius: 0;

  right: 16%;

  bottom: 55px;

}



.main_slider .owl-nav .owl-prev {

  right: 18%;

}



.main_slider .owl-nav .owl-prev span {

  font-size: 1.6875rem;

  color: #fff;

}



.main_slider .owl-nav .owl-prev:focus {

  outline: 0;

}



.main_slider .owl-nav .owl-prev:hover {

  background: transparent !important;

}







.main_slider .owl-nav .owl-next span {

  font-size: 1.6875rem;

  color: #fff;

}



.main_slider .owl-nav .owl-next:focus {

  outline: 0;

}



.main_slider .owl-nav .owl-next:hover {

  background: transparent !important;

}



div#banner_slider .owl-dots {

  position: absolute;

  left: 30%;

  bottom: 60px;

  margin: 0px;

}



div#banner_slider .owl-dots .owl-dot {

  display: none;



}



div#banner_slider .owl-dots .owl-dot.active {

  display: block;



}



.custom_prograss_bar .progressbar {

  min-width: 200px;

  height: 3px;

  background-color: #e9ecefab;

}



.custom_prograss_bar .progressbar .progress-bar {

  background-color: #fff;

}



div#banner_slider .owl-dots .owl-dot button {

  border: 0;

  background: transparent;

  color: #fff;

  font-size: 22px;

  margin: 0px 15px;

  line-height: 32px;

}





.custom_prograss_bar {

  position: absolute;

  min-width: 10.5%;

  left: 16%;

  bottom: 60px;

  z-index: 1;

  display: flex;

  flex-direction: row;

  align-items: center;

}



.custom_prograss_bar span {

  color: #fff;

  font-size: 22px;

  margin-right: 10px;

  font-weight: 400;

}





/**/

.about_title h2 {

  font-size: 32px;

  font-weight: 700;

  line-height: 46px;

  border-left: 5px solid #8ed61d;

  padding-left: 25px;

}



section.home_sec3 {

  padding: 100px 0px 100px;

  background: #1b1b1b;

  color: #fff;

  min-height: 690px;

}



.box_style1 h3 {

  color: #8ed61d;

  font-size: 22px;

}



.boxs {

  text-align: center;

  background: #fff;

  position: relative;

  padding: 125px 75px 100px;

}



.icon_box {

  width: 150px;

  height: 150px;

  display: inline-flex;

  align-items: center;

  justify-content: center;

  position: absolute;

  top: -75px;

  left: 0;

  right: 0;

  margin: auto;

  background: #fff;

  border-radius: 50%;

  border: 10px solid #c3d6dd7d;

  box-shadow: 0px 10px 15px 0px #0000001f;

}



.text_box h3 {

  font-size: 22px;

  font-weight: 700;

  line-height: 32px;

}



section.about_sec1 {

  padding: 75px 0px 75px;

}



section.about_sec2 {

  padding: 75px 0px 75px;



}



section.about_sec3 {

  padding: 75px 0px 75px;

  background: #f9f9f9;

}



.team_box {

  border: 0px solid #ddd;

  background: #fff;

  box-shadow: 0px 5px 25px -10px #00000040;

}



.about_content h2 {

  background: #9ECD54;

  color: #fff;

  display: inline-flex;

  padding: 22px 30px;

  font-size: 25px;

  font-weight: 700;

  line-height: 36px;

}



.about_content h4 {

  font-size: 18px;

  line-height: 26px;

  margin-bottom: 1rem;

}



/****Service******/



section.home_sec4 {

  padding: 400px 0px 70px;

  background: #f1f1f199;

}



.market_focus img {

  position: absolute;

  top: -275px;

  left: 0;

}



.service_box {

  position: relative;

  background: #fff;

  box-shadow: 0px 0px 25px -15px #000000ba;

}



.service_box h3 {

  color: #9ECD54;

  font-weight: 600;

  font-size: 32px;

}



.service_box a {

  color: #000;

  display: flex;

  flex-direction: column;

  transition: transform .5s;

}



.service_box a:hover {

  transform: scale(1.01);

  transition: transform .5s;

}



.s_icon {

  display: inline-flex;

  background: #8ed61d;

  width: 50px;

  height: 50px;

  align-items: center;

  justify-content: center;

  position: absolute;

  top: 0;

  left: 0;

}



.service_box h5 {

  font-size: 18px;

  font-weight: 500;

  line-height: 26px;

  position: absolute;

  display: flex;

  align-items: center;

  background: #8ed61d;

  padding: 10px 50px 10px 10px;

  width: 100%;

  bottom: 20px;

  margin: 0px;

}



/* .service_box:after {

content: "\A";

border-style: solid;

border-width: 80px 85px 0px 0px;

border-color: transparent #fff transparent transparent;

position: absolute;

right: 0;

bottom: 0;

transition: all 0.3s ease;

}



.service_box:hover::after {

border-width: 0px 0px 0px 0px;

transition: all 0.3s ease;

} */



/***/

section.home_sec_new1 {

  background: #1b1b1b;

  color: #fff;

}



.charts_orb .orb .orb_graphic {

  position: relative;

}



section.charts_orb {

  display: flex;

  align-items: center;

  min-height: 100%;

  padding-left: 30%;

  padding-right: 10%;

}



.orb_graphic h2 {

  font-size: 50px;

  color: #8ed61d;

  font-weight: 700;

  padding-bottom: 35px;

  position: relative;

}



.orb_graphic p {

  font-size: 22px;

  font-weight: 500;

}



.orb_graphic h2:before {

  content: '';

  width: 50px;

  height: 4px;

  background: #fff;

  position: absolute;

  bottom: 8px;

  left: 0px;

}



/**/

.new_title h2 {

  font-size: 32px;

  font-weight: 700;

  line-height: 46px;

}



.custom_progress .progress {

  height: 30px;

  border-radius: 30px;

}



.progress-bar {

  background-color: #8ed61d;

  border-radius: 30px;

}



.custom_progress {

  display: flex;

  flex-direction: column;

}



.custom_progress p {

  margin-top: 10px;

}



/**/

section.home_sec_new2 {

  padding: 75px 0px 75px;

}



/**/

section.home_sec5 {

  padding: 0px;

  background-image: url('../images/bg2.jpg');

  background-repeat: no-repeat;

  background-size: cover;

  background-position: center;

}



.portfolio {

  display: flex;

  align-items: center;

  justify-content: space-between;

}



.portfolio .portfolio_video {

  width: 50%;

  float: left;

}



.portfolio .portfolio_video video {

  width: 100%;

  /* min-height: vh; */

}



.portfolio_text {

  width: 50%;

}



.portfolio_text {

  width: 50%;

  padding: 0% 14% 0% 5%;

}



section.home_sec6 {

  padding: 100px 0px 75px;

}



.timeline_content br {

  display: none;

}



/**Testimonial design**/



.testimonial {

  margin: 0 10px;



}



.testimonial .description {



  position: relative;

  padding: 10px 0;



}



.testimonial .quote {

  position: relative;

}



.testimonial .quote svg {

  width: 80px !important;

  position: absolute;

  left: 10px;

  top: 54px;

}



.testimonial .testimonial-pic {

  float: left;

  width: 80px;

  height: 80px;

  margin-right: 20px;

}



.testimonial .testimonial-pic img {

  width: 100%;

  height: auto;

  border-radius: 50%;

  border: 2px solid #696969;

}



.testimonial .testimonial-title {

  font-size: 22px;

  font-weight: 700;

  line-height: 32px;

}



.testimonial .testimonial-review span {

  color: #585858;

  display: block;

  font-size: 14px;

  margin-bottom: 5px;

  text-transform: capitalize;

}



.testimonial .owl-carousel .owl-nav button {

  width: 50px;

}



.testimonial .owl-carousel .owl-nav button.owl-next {

  margin-left: 20px;

}



/**/

.logo_box {

  border: 1px solid #ddd;

  min-height: 110px;

}



/**/



footer {

  background: #000;

  padding: 50px 0px 0px;

  text-align: center;

}



.f_left_part,

.f_right_part {

  width: 50%;

}



.f_left_part {

  background: #000;



}



.copy_right {
  border-top: 1px solid #aaa;
  color: #fff;
  padding: 40px 0px 25px;
  margin-top: 50px;
}







.footer_menu ul li {

  margin: 0px 15px;

}



.footer_menu ul {

  display: flex;

  align-items: center;

  justify-content: center;

  margin: 0px;

}



.social a {

  padding: 5px 15px;

}



.footer {

  color: #fff;

}



.f_right_part iframe {

  filter: grayscale(100%) invert(92%) contrast(83%);

}



.social img {

  width: 30px;

}



/*About Us Page*/



section.page_banner {

  padding: 120px 0px;

  display: flex;

  align-items: center;

  justify-content: center;

  background-repeat: no-repeat;

  background-size: cover;

  background-position: center;

}



.page_title .default_title h2 {

  color: #fff;

  font-size: 40px;

  font-weight: 700;

  line-height: 60px;

  text-transform: uppercase;

}



.page_title .default_title h2:before {

  width: 45%;

}



/*Investor Page*/



section.investors_sec1 {

  padding: 100px 0px 100px;

}



.investor_text ul li {

  position: relative;

  padding-left: 20px;



}



.investor_text ul li:before {

  content: "";

  height: 8px;

  width: 8px;

  background: #8ed61d;

  position: absolute;

  border-radius: 50%;

  left: 0;

  top: 11px;

}



section.investors_sec2 {

  padding: 100px 0px 75px;

  background: #f9f9f9;



}



.login_signup {

  background-color: #fff;

  box-shadow: 0px 0px 30px 5px #00000014;

}



.content-holder {

  padding: 50px;

}





.box-1 {

  background-image: url('../images/form_bg.jpg');

  background-repeat: no-repeat;

  background-size: cover;

  background-position: center;

  min-height: 100%;

  color: #fff;

}



.box-2 {

  background-color: white;

  padding: 60px 70px 60px 100px
}





.button-2 {

  display: none;

}



.login-form-container {



  display: none;





}



.inputfield {

  width: 100%;

  border: 0px;

  border-bottom: 1px solid #aaa;

  font-size: 18px;

  padding: 10px 0px;

}



.chosen-container-single .chosen-single {

  border: 0px;

  box-shadow: none;

  background: none;

  border-bottom: 1px solid #aaa;

  border-radius: 0px;

  color: #777;

  font-size: 18px;

  padding: 0px 0px;

  min-height: 35px;

}



.term p {

  margin: 0px;

  margin-left: 10px;

  color: #000;

}



/* .term {

display: flex;

align-items: center;

} */



/* The container */

.term {

  display: block;

  position: relative;

  padding-left: 35px;

  -moz-user-select: none;

  -ms-user-select: none;

  user-select: none;

}



/* Hide the browser's default checkbox */

.term input {

  position: absolute;

  opacity: 0;

  cursor: pointer;

  height: 0;

  width: 0;

}



/* Create a custom checkbox */

.checkmark {

  position: absolute;

  top: 5px;

  left: 0;

  height: 25px;

  width: 25px;

  background-color: #eee;

  border-radius: 5px;

}



/* On mouse-over, add a grey background color */

.term:hover input~.checkmark {

  background-color: #ccc;

}



/* When the checkbox is checked, add a blue background */

.term input:checked~.checkmark {

  background-color: #293771;

  border-radius: 5px;

}



/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {

  content: "";

  position: absolute;

  display: none;

}



/* Show the checkmark when checked */

.term input:checked~.checkmark:after {

  display: block;

}



/* Style the checkmark/indicator */

.term .checkmark:after {

  left: 9px;

  top: 5px;

  width: 5px;

  height: 10px;

  border: solid white;

  border-width: 0 3px 3px 0;

  -webkit-transform: rotate(45deg);

  -ms-transform: rotate(45deg);

  transform: rotate(45deg);

}



.term input {

  position: absolute;

  opacity: 0;

  cursor: pointer;

  height: 25px;

  width: 25px;

  top: 0;

  left: 0px;

  z-index: 1;

}



.login-form-container select:invalid {

  height: 0px !important;

  opacity: 0 !important;

  position: absolute !important;

  display: block !important;

}



.login-form-container select:invalid[multiple] {

  margin-top: 15px !important;

}



.login-form-container .form-group {

  position: relative;

}



input.submit_btn,

button.submit_btn {



  width: 100%;

  border: 0px;

  background: #8ed61d;

  padding: 14px 0px;

  font-size: 18px;

}



/*Portfolio Page*/



/***/

.ps-timeline-sec {

  position: relative;

  padding: 30px 0px 60px;

}



.ps-timeline-sec .container {

  position: relative;

}



.ps-timeline-sec .container ol.ps-timeline {

  margin: 300px 0;

  padding: 0;

  border-top: 1px solid #fff;

  list-style: none;

  display: flex;

  cursor: move;

}



.ps-timeline-sec .container ol.ps-timeline li {

  float: left;

  flex: 0 0 18%;

  padding-top: 0px;

  position: relative;

}



.ps-timeline-sec .container ol.ps-timeline li span {

  width: 55px;

  height: 55px;



  background: #fff;

  border: 3px solid #9ecd54;

  border-radius: 50%;

  box-shadow: 0 0 0 0px #fff;

  text-align: center;

  color: #df8625;

  font-size: 2em;

  font-style: normal;

  position: absolute;

  top: 50%;

  left: 50%;

  transform: translate(-50%, -50%);

}



.ps-timeline-sec .container ol.ps-timeline li span.ps-sp-bot {

  border: 3px solid #2d2e2d;

}



.ps-timeline-sec .container ol.ps-timeline li span.ps-sp-top:after {

  content: "";

  color: #9ecd54;

  width: 35px;

  height: 35px;

  background: #9ecd54;

  position: absolute;

  left: 50%;

  top: 50%;

  transform: translate(-50%, -50%);

  border-radius: 100%;

}



.ps-timeline-sec .container ol.ps-timeline li .img-handler-top h4 {

  margin: 0px;

  position: absolute;

  top: 30px;

  left: 0px;

  color: #fff;

  font-weight: 700;

  font-size: 25px;

  display: block;

  width: 100%;

  text-align: center;

}



.ps-timeline-sec .container ol.ps-timeline li .img-handler-bot h4 {

  margin: 0px;

  position: absolute;

  top: 175px;

  left: 0px;

  color: #fff;

  font-weight: 700;

  font-size: 25px;

  display: block;

  width: 100%;

  text-align: center;

}



.ps-timeline-sec .container ol.ps-timeline li span.ps-sp-bot:after {

  content: "";

  color: #2d2e2d;

  width: 35px;

  height: 35px;

  background: #2d2e2d;

  position: absolute;

  top: 50%;

  left: 50%;

  transform: translate(-50%, -50%);

  border-radius: 100%;

}



.ps-timeline-sec .container ol.ps-timeline li .img-handler-top {

  position: absolute;

  bottom: 35px;

  width: 100%;

  left: 0px;

}



.ps-timeline-sec .container ol.ps-timeline li .img-handler-top img {

  display: table;

  margin: 0 auto;

}



.ps-timeline-sec .container ol.ps-timeline li .img-handler-bot {

  position: absolute;

  top: 35px;

  left: 0px;

  width: 100%;

}



.ps-timeline-sec .container ol.ps-timeline li .img-handler-bot img {

  display: table;

  margin: 0 auto;

}



.ps-timeline-sec .container ol.ps-timeline li p {

  width: 100%;

  margin: 0 auto;

  font-size: 17px;

}



.ps-timeline-sec .container ol.ps-timeline li .ps-top {

  position: absolute;

  bottom: 35px;

  left: 0;

  right: 0;

  margin: auto;

}



.ps-timeline-sec .container ol.ps-timeline li .ps-bot {

  position: absolute;

  left: 0;

  right: 0;

  margin: auto;

  top: 35px;

}



.ps-timeline-sec .container ol.ps-timeline li:before {

  content: '';

  width: 100%;

  position: absolute;

  height: 3px;

  background: #9ecd54;

  top: -2px;

}



.ps-timeline-sec .container ol.ps-timeline li:nth-child(odd)::before {

  background-image: linear-gradient(to right, #9ecd54, #000 60%, #9ecd54);

}



.ps-timeline-sec .container ol.ps-timeline li:first-child::before {

  width: 50%;

  left: 50%;

}



.ps-timeline-sec .container ol.ps-timeline li:last-child::before {

  width: 50%;

  right: 50%;

}



/***/



section.portfolio_sec1 {

  padding: 35px 0px 10px;

}



.timeline_box span {

  font-size: 25px;

  position: absolute;

  background: #8ed61d;

  padding: 10px 25px;

  color: #fff;

  left: 10px;

  bottom: 10px;

  font-weight: 600;

}



.timeline_box p {

  padding-top: 15px;

  padding-bottom: 15px;

}



.profile_contact a {

  color: #000;

}



.profile_contact a h4 {

  font-weight: 600;

}



section.portfolio_sec2 {

  padding: 75px 0px 60px;

  background: #f9f9f9;

}



.text_left_with_year .t_box {

  width: 100%;



  color: #fff;

  display: flex;



}



.text_right_with_year .t_box {

  width: 100%;



  display: flex;



  justify-content: flex-end;

}



.text_left_with_year h4,

.text_right_with_year h4 {

  position: relative;

  background: #8ed61d;

  padding: 15px 15px;

  color: #fff;

  font-size: 22px;

  margin-bottom: 0px;

  display: flex;

  align-items: center;

}





.text_left_with_year p,

.text_right_with_year p {

  margin: 0px;

  background: #000;

  color: #fff;

  margin-right: 10px;

  margin-left: 10px;

  width: 70%;

  display: flex;

  align-items: center;

  justify-content: flex-end;

  padding: 10px 15px;

}



.text_left_with_year p {

  justify-content: flex-start;

}



.text_right_with_year p {

  text-align: right;

}



.text_right_with_year h4 {

  text-align: right;

}





/*Video Page*/



section.video_sec1 {

  padding: 100px 0px 75px;

}



.lg-video .vjs-default-skin .vjs-big-play-button {

  background-color: #8ed61d;

  width: 2em;

  height: 2em;

  border-radius: 50%;

  left: 50%;

  top: 50%;

  transform: translate(-50%, -50%);

  border: 0px;



}



.lg-video .vjs-default-skin:hover .vjs-big-play-button {



  background-color: #81c01b;

}



.lg-video .vjs-default-skin .vjs-big-play-button:before {

  left: 50%;

  top: 50%;

  transform: translate(-40%, -50%);

  color: #fff;

  line-height: normal;

  text-shadow: none;

  width: auto;

  height: auto;

}



div#lightgallery .video a {

  color: #000;

  display: inline-block;

  box-shadow: 0px 4px 21px 3px rgb(0 0 0 / 4%);

}



.video_title {

  display: flex;

  align-items: center;

}



.video_title p {

  margin: 0;

}



div#lightgallery .video p {

  font-size: 22px;

  width: 100%;

}



.gallery_box .play_btn {

  position: absolute;

  left: 50%;

  top: 50%;

  transform: translate(-50%, -50%);

}



.gallery_box a {

  position: relative;

}



.gallery_box {

  width: 98%;

  margin: auto;

  box-shadow: 0px 4px 21px 3px rgb(0 0 0 / 4%);

}



#custom_pagination ul {

  margin: 0 0 0px;

  padding: 0;

  list-style: none;

}



#custom_pagination li {

  display: inline-block;

  margin-right: 5px;

}



#custom_pagination li a,

#custom_pagination li span {

  color: #666;

  padding: 5px 10px;

  text-decoration: none;

  border: 1px solid #EEE;

  background-color: #FFF;

  box-shadow: 0px 0px 10px 0px #EEE;

  line-height: 26px;

}



#custom_pagination .current {

  color: #FFF;

  background-color: #8ed61d;

  border-color: #8ed61d;

}



#custom_pagination .prev.current,

#custom_pagination .next.current {

  background: #6ea616;

}



#custom_pagination span.prev.current,

#custom_pagination span.next.current {

  background-color: #666;

  border-color: #666;

  cursor: not-allowed;

}



/*Conatct Page*/



section.contact_sec1 {

  padding: 100px 0px 100px;

}



.contact_box1 h3 {

  color: #9ECD54;

  font-weight: 700;

  margin-bottom: 1.5rem;

}



.contact_box2 h2 {

  font-size: 32px;

  font-weight: 700;

  line-height: 46px;

}



.input_field {

  width: 100%;

  padding: 20px 20px;

  font-size: 22px;

  border: 0px solid #000;

  background: #f6faee;

  border-radius: 5px;

  min-height: 90px;

}



.contact_box1 a {

  color: #000;

  display: inline-block;

}



.send.link_btn br {

  display: none;

}



.contact_us .wpcf7 .ajax-loader {

  position: absolute;

  left: -35px;

  margin: 0px;

  top: 15px;

}



.contact_box1 h5 {

  font-size: 22px;

  font-weight: 600;

}



input.input_field_send {

  position: absolute;

  width: 100%;

  height: 100%;

  background: transparent;

  border: 0px;

  color: transparent;

  z-index: 1;

}



.timeline_h::-webkit-scrollbar {

  display: none;

}



.fluid_html_on_pause,

.fluid_pseudo_poster {



  background-size: cover !important;

}



.custom_prograss_bar {

  display: none;

}



.banner_button a.link_btn svg {

  stroke: #fff;

}

.banner_button a.link_btn span {

  color: #fff;

}

.banner_button a.link_btn {

  position: absolute;

  z-index: 9;

  right: 55px;

  bottom: 15%;

}



section.home_sec_new1.for_portfolio {

  background: #8ed61d;

}



.for_portfolio .orb_graphic h2 {

  color: #fff;

}



.for_portfolio .orb_graphic h2:before {

  background: #000;

}



.for_portfolio .orb_graphic p {

  color: #000;

}

p.scroll_btn {
  position: absolute;
  width: 100px;
  right: 0;
  top: 130px;
}

p.scroll_btn svg {
  max-width: 50px;
  height: auto;
  right: 0;
  position: absolute;
  top: 0;
  -webkit-animation: linear infinite;
  -webkit-animation-name: scroll;
  -webkit-animation-duration: 5s;
}

@-webkit-keyframes scroll {
  0% {
    left: 0;
  }

  50% {
    left: 50%;
  }

  100% {
    left: 0;
  }
}
section.charts_orb h2 {
  color: #000;
}
section.charts_orb h2:before {
  background: #fff;
}

/*Resonsive part*/



@media(max-width:1600px) {



  .main_slider .item .cover .header-content h2 {

    font-size: 36px;

    line-height: 55px;

  }



  .about_title h2,

  .default_title h2,

  .new_title h2 {

    font-size: 30px;

    line-height: 45px;

  }



  .text_box h3 {

    font-size: 20px;

  }



  .service_box h5 {

    font-size: 16px;

    padding: 10px 35px 10px 10px;

  }



  .service_box:after {

    border-width: 70px 70px 0px 0px;

  }



  .f_left_part {

    padding: 0% 5% 0% 5%;

  }



  .portfolio_text {

    padding: 0% 3% 0% 3%;

  }



  p,

  a,

  li {

    font-size: 16px;

    line-height: 30px;

  }



  .link_btn span {

    font-size: 17px;

  }



  .link_btn {

    padding: 10px 25px;

  }



  .f_right_part iframe {

    height: 650px;

  }



  section.page_banner {

    padding: 90px 0px;

  }



  .about_content h2 {

    padding: 15px 30px;

    font-size: 20px;

  }



  div#lightgallery .video a p {

    font-size: 20px;

  }



  .input_field {



    font-size: 20px;

    min-height: 75px;

  }



  section.about_sec2 {

    padding: 75px 0px 90px;

  }



  .custom_prograss_bar {

    left: 5%;

  }



  div#banner_slider .owl-dots {



    left: 23%;

  }



  section.home_sec3 {

    min-height: 550px;

    padding: 75px 0px 100px;

  }



  .market_focus img {

    max-width: 80%;

    top: -200px;

  }



  section.home_sec4 {

    padding-top: 280px;

    padding-bottom: 75px;

  }



  section.charts_orb {

    padding-left: 15%;

    padding-right: 15%;

  }



  .service_box h3 {

    font-size: 28px;

  }



  .orb_graphic h2 {

    font-size: 40px;

  }



  .orb_graphic p {

    font-size: 20px;

  }



  .ps-timeline-sec .container ol.ps-timeline li p {

    font-size: 16px;

  }



  .ps-timeline-sec .container ol.ps-timeline li .img-handler-top img,

  .ps-timeline-sec .container ol.ps-timeline li .img-handler-bot img {

    max-width: 65%;

  }



  .ps-timeline-sec .container ol.ps-timeline li .img-handler-top h4 {

    top: 25px;

    font-size: 22px;

  }



  .ps-timeline-sec .container ol.ps-timeline li .img-handler-bot h4 {

    top: 155px;

    font-size: 22px;

  }



}



@media(max-width:1366px) {





  .f_left_part {

    padding: 0% 5% 0% 9%;

  }



  .profile_contact a h4 {



    font-size: 20px;

  }



  div#lightgallery .video a p {

    font-size: 18px;

  }



  section.home_sec6 {

    padding: 90px 0px 75px;

  }



  .custom_prograss_bar {

    left: 9.5%;

  }



  div#banner_slider .owl-dots {

    left: 28%;

  }



  section.home_sec3 {

    min-height: 570px;

  }



  section.home_sec4 {

    padding-top: 260px;

  }



  .custom_progress .progress {

    height: 25px;



  }



  .ps-timeline-sec .container ol.ps-timeline li p {

    font-size: 15px;

  }



  .ps-timeline-sec .container ol.ps-timeline li {

    flex: 0 0 20%;

  }







}



@media(max-width:1280px) {



  .f_left_part {

    padding: 0% 5% 0% 7%;

  }



  .service_box h5 {

    font-size: 15px;

  }



  .input_field {

    font-size: 18px;

    min-height: 60px;

  }



  .portfolio_text {

    padding: 0% 15px 0% 30px;

  }



  .box-2 {

    background-color: white;

    padding: 50px 50px 50px 80px;

  }



  .custom_prograss_bar {

    left: 6.5%;

  }



  div#banner_slider .owl-dots {

    left: 27%;

  }



  section.home_sec4 {

    padding-top: 230px;

  }



  .orb_graphic h2 {

    font-size: 36px;

  }



  .orb_graphic p {

    font-size: 18px;

  }



  section.charts_orb {

    padding-left: 20%;

    padding-right: 10%;

  }





}



@media(max-width:1192px) {



  .main_slider .owl-nav .owl-prev,

  .main_slider .owl-nav .owl-next {



    right: 12%;



  }



  .main_slider .owl-nav .owl-prev {

    right: 16%;

  }



  .f_right_part iframe {

    height: 550px;

  }



  .f_left_part {

    padding: 0% 2% 0% 4%;

  }



  .boxs {



    padding: 125px 75px 75px;

  }



  .service_box:after {



    border-width: 50px 50px 0px 0px;

  }



  .service_box h5 {

    font-size: 14px;

    padding: 7px 25px 7px 5px;

    bottom: 10px;

  }



  .service_box a:after {

    border-width: 50px 55px 0px 0px;

  }



  .about_title h2,

  .default_title h2 {

    font-size: 24px;

    line-height: 35px;

  }



  p,

  a,

  li {

    font-size: 15px;



  }



  .text_box h3 {

    font-size: 18px;

  }



  .main_slider .item .cover .header-content h2 {

    font-size: 30px;

    line-height: 45px;

  }



  .navbar-expand-lg .navbar-nav a {

    padding: 8px 20px !important;

  }



  .page_title .default_title h2 {

    font-size: 36px;

  }



  section.page_banner {

    padding: 75px 0px 50px;

  }



  .profile_contact a h4 {

    font-size: 18px;

  }



  div#lightgallery .video a p {

    font-size: 16px;

  }



  .gallery_box .play_btn svg {

    width: 50px;

  }



  .box-2 {



    padding: 45px 30px 45px 50px;

  }



  .content-holder {

    padding: 50px 30px;

  }






  .custom_prograss_bar {

    left: 4%;

  }



  .custom_prograss_bar .progressbar {

    min-width: 175px;

  }



  section.home_sec3 {

    min-height: 500px;

  }



  .market_focus img {

    top: -150px;

  }



  section.home_sec4 {

    padding-top: 200px;

  }



  .custom_progress .progress {

    height: 20px;

  }



  footer {

    padding: 50px 0px 0px;

  }

  .copy_right {

    padding: 20px 0px 5px;
    margin-top: 30px;
  }





  section.investors_sec1,

  section.investors_sec2 {

    padding: 75px 0px 75px;

  }



  .ps-timeline-sec .container ol.ps-timeline li {

    flex: 0 0 25%;

  }



  div#lightgallery .video p {

    font-size: 18px;

  }



}



@media(max-width:992px) {



  .navbar-collapse {



    position: fixed;

    background: #2e2e2e;

    left: -100%;

    width: 50%;

    right: 0;

    top: 0;

    padding: 50px 30px;

    min-height: 100vh;

    transition: all 0.3s ease;

  }



  .navbar-expand-lg .navbar-nav a {

    display: block;

    border-bottom: 1px solid #ddd;

    padding: 8px 20px 8px 0px !important;



  }



  .navbar-expand-lg .navbar-nav .nav-item.active a {

    padding-left: 15px !important;

  }



  .navbar-expand-lg .navbar-nav li.active a {

    color: #8ed61d;

  }

  .navbar-expand-lg .navbar-nav li:last-child a {

    margin-top: 10px;
    padding: 6px 30px !important;
    display: inline-block;
  }


  .navbar-collapse.show {

    left: 0%;

    transition: all 0.3s ease;

  }



  .navbar-expand-lg .navbar-nav a:after {

    content: none;

  }



  .navbar-toggler:focus {

    box-shadow: none;

  }



  button.navbar-toggler {

    border: 0px solid #fff;

  }



  .navbar-expand-lg .navbar-nav a.active {

    background: #8ed61d !important;

  }



  .logo_box {



    min-height: 100px;

  }



  .service_box h5 {

    font-size: 16px;

    padding: 10px 40px 7px 10px;

    bottom: 15px;

  }



  .service_box a:after {

    border-width: 60px 60px 0px 0px;

  }



  .icon_box {

    width: 125px;

    height: 125px;

    top: -60px
  }



  .icon_box img {

    max-width: 45px;

  }



  .boxs {

    padding: 100px 30px 75px;

  }



  section.home_sec3 {

    padding: 100px 0px 100px;

  }



  .f_right_part iframe {

    height: 500px;

  }



  .about_content h2 {

    padding: 5px 30px;

    font-size: 18px;

  }



  .input_field {

    font-size: 16px;

    min-height: 55px;

    padding: 10px 15px;

  }



  .service_box:after {

    border-width: 60px 60px 0px 0px;

  }



  .box-1 {

    min-height: auto;

  }



  .custom_prograss_bar {

    left: 5%;

  }



  div#banner_slider .owl-dots {

    left: 35%;

  }



  .market_focus img {

    top: -125px;

    max-width: 85%;

  }



  section.home_sec4 {

    padding-top: 155px;

  }



  .service_box h3 {

    font-size: 20px;

  }



  .orb_graphic h2 {

    font-size: 24px;

    padding-bottom: 20px;

  }



  section.charts_orb {

    padding-left: 5%;

    padding-right: 5%;

  }



  .orb_graphic p {

    font-size: 15px;

  }



  .orb_graphic h2:before {

    width: 35px;

    height: 4px;

    bottom: 2px;



  }



  .custom_progress .progress {

    height: 15px;

  }



  .portfolio .portfolio_video {

    width: 90%;

    margin: auto;

  }



  .portfolio {

    flex-direction: column;

  }



  .portfolio_text {

    width: 94%;

    margin-top: 50px;

  }



  section.investors_sec1 {

    padding: 100px 0px 60px;

  }



  section.about_sec1 {

    padding: 30px 0px 75px;

  }



  section.about_sec3 {

    padding: 0px 0px 75px;

  }



  .ps-timeline-sec .container ol.ps-timeline li p {

    font-size: 14px;

    line-height: 25px;

  }



  .ps-timeline-sec .container ol.ps-timeline li {

    flex: 0 0 30%;

  }



  section.portfolio_sec1 {

    padding: 15px 0px 10px;

  }



  .ps-timeline-sec .container ol.ps-timeline li .img-handler-top img,

  .ps-timeline-sec .container ol.ps-timeline li .img-handler-bot img {



    width: 60%;

  }



  .ps-timeline-sec .container ol.ps-timeline {

    margin: 225px 0;

  }



  .ps-timeline-sec .container ol.ps-timeline li .img-handler-bot h4 {

    top: 130px;

    font-size: 20px;

  }



  .ps-timeline-sec .container ol.ps-timeline li span {

    width: 45px;

    height: 45px;

  }



  .ps-timeline-sec .container ol.ps-timeline li span.ps-sp-bot:after,

  .ps-timeline-sec .container ol.ps-timeline li span.ps-sp-top:after {

    width: 30px;

    height: 30px;

  }



  .ps-timeline-sec .container ol.ps-timeline li .img-handler-top h4 {

    top: 20px;

    font-size: 20px;

  }



  .ps-timeline-sec .container ol.ps-timeline li .img-handler-bot {

    margin-top: 0px;

  }



  section.page_banner {

    padding: 55px 0px 50px;

  }

  .social a {
    padding: 5px 5px;
  }


}





@media(max-width:767px) {



  .navbar-collapse {

    padding: 50px 15px;

    width: 70%;

  }

  header {
    position: relative;
    background: #000;
  }

  .banner_button a.link_btn {
    right: 15px;
    bottom: 58px;
    padding: 0px 10px;
  }

  .banner_button a.link_btn span {
    font-size: 12px;
  }

  .main_slider .item .cover .header-content h2 {

    font-size: 24px;

    line-height: 40px;

  }



  .header_top a {

    font-size: 11px;

  }



  .navbar-brand img {

    max-width: 150px;

  }



  .main_slider .item .cover .header-content h4 {

    font-size: 16px;

    line-height: 30px;



  }



  .link_btn span {

    font-size: 15px;

  }



  .link_btn {

    padding: 8px 20px;

  }





  .main_slider .owl-nav .owl-prev,

  .main_slider .owl-nav .owl-next {

    right: 10%;

  }



  .main_slider .owl-nav .owl-prev {

    right: 18%;

  }



  div#banner_slider .owl-dots .owl-dot button {

    font-size: 16px;

    margin: 0px 8px;

    padding: 0px 1px;

  }



  div#banner_slider .owl-dots {

    left: 46%;

    bottom: 42px;

  }



  .main_slider .owl-nav .owl-prev,

  .main_slider .owl-nav .owl-next {

    height: 25px;

    width: 25px;

    bottom: 30px;

    right: 6%;

  }



  .main_slider .owl-nav .owl-prev {

    right: 14%;

  }



  .custom_prograss_bar {

    min-width: 13.5%;

    bottom: 44px;



  }



  .boxs {

    padding: 90px 15px 60px;

    height: auto !important;

  }



  section.home_sec3 {

    padding: 60px 0px 25px;

  }



  .portfolio {

    flex-direction: column;

    padding: 0px 15px;

  }



  .portfolio .portfolio_video {

    width: 100%;

  }



  .portfolio_text {

    padding: 0% 0% 0% 0%;

    width: 100%;

    margin-top: 3.5rem;

  }



  section.home_sec6 {

    padding: 60px 0px 40px;

  }



  .testimonial {

    margin: 0 0px;

  }



  .footer {

    flex-direction: column-reverse;

  }



  .f_left_part,

  .f_right_part {

    width: 100%;

  }



  .f_left_part {

    padding: 50px 15px 0px;

  }



  .f_right_part iframe {

    height: 350px;

  }



  .footer_menu ul li {

    margin-bottom: 0.5rem;

    text-align: left;

  }



  .footer_menu ul {

    margin-top: 2rem;

  }



  .copy_right p,

  .copy_right a {

    font-size: 12px;

    text-align: center;

  }



  .testimonial .quote svg {



    left: 0px;

    top: 0px;

  }



  section.home_sec5 {



    background: #fff;

  }



  section.page_banner {

    padding: 0px 0px 25px;

  }



  .page_title .default_title h2 {

    font-size: 24px;

    padding-top: 10px;

  }



  section.about_sec2 {

    padding: 75px 0px 50px;

  }



  section.investors_sec1 {

    padding: 75px 0px 50px;

  }



  .text_left_with_year h4,

  .text_right_with_year h4,

  .text_left_with_year p,

  .text_right_with_year p {



    width: 100%;

    margin: 0px;

    text-align: left;



  }



  .text_left_with_year .t_box,

  .text_right_with_year .t_box {



    flex-direction: column;

  }



  .text_right_with_year .t_box {

    flex-direction: column-reverse;

  }



  .box-2 {

    padding: 50px 15px 50px 15px;

  }



  section.investors_sec2 .default_title h2 {

    font-size: 20px;



  }



  .custom_prograss_bar span {



    font-size: 18px;

  }



  .custom_prograss_bar .progressbar {

    min-width: 100px;

  }



  .market_focus img {

    top: -75px;



  }



  section.home_sec4 {

    padding-top: 60px;

    padding-bottom: 50px;

  }



  .orb_graphic h2 {

    font-size: 36px;

  }



  .orb_graphic p {

    font-size: 18px;

  }


  section.charts_orb {

    padding-top: 50px;

    padding-bottom: 30px;

  }



  .charts_orb .orb .orb_graphic {



    margin-bottom: 30px;

  }



  section.home_sec_new2 {

    padding: 60px 0px 50px;

  }



  .footer_menu ul {

    margin-top: 2rem;

    column-count: 2;

    display: block;

    margin-bottom: 20px;

  }



  footer .social {

    justify-content: center;

  }



  .ps-timeline-sec .container ol.ps-timeline li .img-handler-top img,

  .ps-timeline-sec .container ol.ps-timeline li .img-handler-bot img {

    width: 70%;

  }



  .ps-timeline-sec .container ol.ps-timeline li span {

    width: 40px;

    height: 40px;

  }



  .ps-timeline-sec .container ol.ps-timeline li span.ps-sp-bot:after,

  .ps-timeline-sec .container ol.ps-timeline li span.ps-sp-top:after {

    width: 25px;

    height: 25px;

  }



  .ps-timeline-sec .container ol.ps-timeline li {

    flex: 0 0 50%;

  }



  .ps-timeline-sec .container ol.ps-timeline {

    margin: 230px 0;



  }



  section.contact_sec1 {

    padding: 75px 0px 50px;

  }

}

@media(max-width:479px) {
  .banner_button a.link_btn {
    display: none;
  }

  .fluid_initial_play {
    width: 45px;
    height: 45px;
  }

  .fluid_initial_play_button {
    margin-top: 14px;
    margin-left: 18px;
    border-width: 8px 0 8px 14px;
  }

  #custom_pagination li a,
  #custom_pagination li span {

    padding: 3px 8px;
  }

  section.home_sec3 {
    padding: 60px 0px 80px;
  }

  section.home_sec_new2 {
    padding: 60px 0px 20px;
  }

  .service_box {
    height: auto !important;
  }
}