/*  Yakoon style */

/* Import font Roboto  */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@import url('../css/fonts/stylesheet.css');

/* Typography */


* {
    padding: 0;
    line-height: normal;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    outline: none;
}

body {

    color: #000;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    ;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;

}

ul,
ol {
    list-style: none;
    margin: 0;
}

a,
a:focus,
a:visited,
a:hover,
button:focus {
    outline: none;
    color: var(--primary-black);
    text-decoration: none;
    transition: all ease .3s;
}

img {
    max-width: 100%;
    vertical-align: top;
}

.container {
    max-width: 1440px;
    padding: 0 15px;
    margin: 0 auto;
}

/* Text Size */
h2 {
    font-size: 40px;
    font-family: 'rbregular';
    line-height: 63px;
    margin-bottom: 30px;
    font-weight: 600;
}

h3 {
    font-family: 'rbregular';
    font-weight: 600;
    font-size: 40px;
    line-height: 43px;
    margin-bottom: 30px;
    color: #9F1C29;
}

h1 {

    font-size: 100px;
    font-family: 'rbregular';
    font-weight: 600;
    line-height: 60px;
    margin-bottom: 30px;


}



/* Spacing css*/

.ptb-3 {
    padding: 75px 0 35px;
}

.ptb-6 {
    padding: 80px 0;
}

.ptb-7 {
    padding: 95px 0;
}

.ptb-sm {
    padding: 30px 0;
}

.pb-6 {
    padding-bottom: 65px;
}

.pd-80 {
    padding-right: 80px;
}

.pt-6 {
    padding-top: 50px;
}

.mtb-6 {
    margin: 60px 0;
}

.mtb-7 {
    margin: 70px 0;
}

.mt-6 {
    margin-top: 60px;
}

.mt-7 {
    margin-top: 70px;
}

.mb-10 {
    margin-bottom: 75px;
}

.mtb-10 {
    margin: 110px 0;
}

/* Spacing close */
/* Reset close */
/* Color */

:root {

    --primary-color: #000;
    --secondary-color: #9F1C29;
    --light-golden: #C48E54;
}

/* .navbar-toggler{
    display: none;
} */


p {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    line-height: 28px;
}


.menu-bar {
    background-color: transparent;
    position: relative;
    right: 0;
    left: 0;
    max-width: 100%;
    z-index: 1001;
    transition: all 0.3s ease;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    animation: smoothScroll 1s forwards;
}

.menu-bar .navbar {
    margin-bottom: 0;
    border-radius: 0;

    padding-top: 10px;
    padding-bottom: 10px;
}

.menu-bar .navbar-nav li {
    margin-right: 50px;
}

.menu-bar .navbar-nav li:last-of-type {
    margin-right: 10px;
}

.menu-bar .navbar-nav a {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding: 25px 0 25px;
    font-weight: 500;
    line-height: 21px;
    color: #fff;
    transition: all ease .6s;
    position: relative;
    animation: smoothScroll 1.5s forwards;
}

.menu-bar .navbar-nav a:hover,
.menu-bar .navbar-nav li.active a {
    color: var(--light-golden);
    text-decoration: none;
}

.menu-list .navbar-nav {
    display: flex;
    flex-direction: row;
}

.menu-bar .navbar-nav li.active a::after,
.menu-bar .navbar-nav li a::after {
    content: '';
    position: absolute;
    top: 84px;
    left: 0;
    background-color: var(--light-golden);
    width: 100%;
    height: 1.5px;
}

.menu-bar .navbar-nav li a::after {

    width: 0%;
    transition: all ease .3s;

}

.menu-bar .navbar-nav li a:hover::after {
    width: 100%;
}


.navbar-brand {
    max-width: 150px;
}

.navbar-toggler-icon {
    display: flex;
    width: 1.5em;
    height: .15em;

    background: #fff;
    margin: .25em;
}

.navbar-toggler {
    padding: 0.25rem 0.25rem;
    background-color: #9f1c29;

}



.header-fixed {
    box-shadow: 0 5px 30px rgba(0, 22, 84, 0.1);
    -webkit-box-shadow: 0 5px 30px rgba(0, 22, 84, 0.1);
    background: rgba(0, 0, 0, .6);
    position: absolute;
    z-index: 99999;
    max-width: 100%;
    top: 0;
    left: 0;
    right: 0;
    -webkit-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
    transition: 0.3s ease-in;
    -webkit-animation-duration: 0.7s;
    animation-duration: 0.7s;
    animation: smoothScroll 1.5s forwards;
    height: 75px;
    padding: 7px 0;
}

.header-fixed .navbar {
    padding: 0 15px !important;
}

.header-fixed .navbar-brand {
    max-width: 110px;
}

.header-fixed .contact-btn a {
    padding: 12px;
}

@keyframes smoothScroll {
    0% {
        transform: translateY(-40px);
    }

    100% {
        transform: translateY(0px);
    }
}


.header-fixed .navbar-nav li.active:before,
.header-fixed .navbar-nav li:hover:before {

    width: 39px;
    height: 39px;
    top: -19px;
}

.header-fixed .navbar-nav li.active::after,
.header-fixed .navbar-nav li:hover::after {
    width: 39px;
    height: 39px;
    bottom: -19px;
}


/* Header close */

#mute {
    cursor: pointer;
    height: 50px;
    width: 50px;
    position: absolute;
    bottom: 50px;
    right: 50px;
    border: 0px solid #000;
    background-size: cover;

}

.banner {

    max-width: 100%;
    max-height: 100vh;
    position: relative;
    background-color: #000;

    overflow: hidden;

}

/* .banner-slider .slick-dots li.slick-active button:before{opacity: 1; color: rgba(255,255,255,.97);}
.banner-slider .slick-dots li button:before{
    font-size: 30px;
      color: rgba(255,255,255,.97);
      content: ''; 
      background-image: url('../images/svg-dot.svg');
      width: 30px;
      height: 30px;
} */

.banner-slider .slick-dots li {
    margin-right: 15px;
}

.banner-slider .slick-dots {
    bottom: 35px !important;
    left: 60px !important;
    text-align: left;
}

.slider-for {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 10;
}

.slide-container {
    height: 20vh;
    background-color: transparent;
    text-align: center;
    line-height: 20vh;
    font-size: 40px;
    font-weight: bold;
    border: 0;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.decor {
    padding: 5px 40px;
    background-color: #fff;
    border: 2px solid #000;
}

.slide-btn {
    text-align: center;
    box-sizing: border-box;
    height: 40vh;
    background-color: yellow;
    border: 1px solid #000;
    cursor: pointer;
    display: flex !important;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 20px;
    font-size: 30px;
    min-height: 120px;
    transition: 0.5s all;
}



.slider-dots-box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 70px;
    bottom: 25px;
}

.slider-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40px;
}

.slider-dots button {
    width: 41px;
    height: 41px;
    border-radius: 0;
    display: block;
    border: 0;
    background-color: transparent;
    margin: 0 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
    transition: .3s all;
    position: relative;
    z-index: 0;
    transform: rotate(45deg);
}

.slider-dots-box .slick-active button {
    width: 41px;
    height: 41px;
    transform: rotate(45deg);
    border-radius: 0;
    background-color: transparent;
}

.slider-dots button:after {
    content: none;
    display: block;
    width: 15px;
    height: 15px;

    background-color: rgba(255, 255, 255, .97);
    transform: rotate(45deg) translate(-50%, -50%);
}

.slider-dots-box .slick-active button:after {
    content: none;
    display: none;
}

.slider-dots-box .slick-active button:before,
.slider-dots-box button:before {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    right: 0;
    top: 50%;
    bottom: 0;
    z-index: -1;
    transform: translate(-50%, -50%);
    border: 2px solid rgba(0, 0, 0, 0.05);
    border-radius: 0;
    width: 12px;
    height: 12px;
    background-color: rgba(255, 255, 255, .97);
    opacity: 1;
}

.slider-dots-box button:before {
    opacity: .3;
}

.circle-bg {
    fill: rgba(255, 255, 255, .97);
    stroke: rgba(0, 0, 0, 0.05);
    stroke-width: 2;
    stroke-linecap: butt;
}

.circle-go {
    fill: transparent;
    stroke: rgb(196 142 84);
    stroke-width: 2;
    stroke-linecap: round;
    animation: progress 22s;
    stroke-dasharray: 360px;
    stroke-dashoffset: 360;
}

.circle-tx {
    fill: #000;
    stroke-width: 1;
    font: bold 55px 'Arial';
    text-anchor: middle;
    width: 21px;
    height: 21px;
}

@keyframes progress {
    from {
        stroke-dashoffset: 360;
    }

    to {
        stroke-dashoffset: 0;
    }
}

.banner-slider.slick-dotted.slick-slider {
    margin-bottom: 0;
}

.banner-video {
    object-fit: cover;
    width: 100%;
    height: 100vh;
}

/* Search box */
.search-box {
    position: absolute;
    left: 0;
    right: 0;
    top: 60px;
    z-index: 9;
}

.rel {
    position: relative;
}

.submit-btn {
    background: transparent;
    position: absolute;
    right: 0px;
    width: 75px;
    top: 0px;
    padding: 20px 20px;
    border-radius: 30px;
}

.submit-btn:focus {
    outline: none;
}

.submit-btn img {
    max-width: 21px;
}




header.menu-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
    padding: 15px 0;
}
.modal{    z-index: 9999;}

.menu-bar.header-fixed ul.navbar-nav li a::after {
    top: 75px;
}








/*****************************************************************BANNER SECTION START   ******************************/


/********************************************************************************** */




.banner .slide {
    padding: 415px 0 386px;
    background-size: cover;
    background-color: rgba(0, 0, 0, .15);
}



section.banner h1 {
    color: #fff;
    text-align: left;
    line-height: 46px;
    font-size: 58px;
    margin-bottom: 0;
}

.ban-h {
    width: 57%;
    position: relative;
    top: 300px;
    left: 150px;
}












/*****************************************************************YAKOON ABOUT SECTION START   ******************************/


/********************************************************************************** */







.aboutyakoon-img {
    display: flex;
    justify-content: stretch;
    align-items: flex-start;
}

.aboutyakoon-img:before {
    position: absolute;
    content: "";
    top: -5%;
    left: -5%;
    z-index: 9999;
    width: 85%;
    height: 75%;
    background: url(../images/texture.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.img-1 {
    position: relative;
    z-index: 9999;
    margin-right: 35px;
    margin-top: 8%;
}

.img-2 {
    position: relative;
    z-index: 9999;
    margin-top: 10%;

}





.read-more i.fa.fa {
    color: #9F1C29;
}

.read-more a {
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    padding: 10px 0;
    color: var(--secondary-color);
}

.read-more a:focus {
    box-shadow: none;
}

.read-more a i.fa {
    position: absolute;
    left: 130px;
    font-size: 20px;
    top: 10px;
    transition: all ease .3s;
}



.read-more a:hover i.fa {
    left: 140px;
}

.read-more a:before {
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    transform: translateY(-50%) rotate(45deg);
    left: 170px;
    top: 50%;
    border: 1px solid #9F1C29;
}

.read-more {
    position: relative;
}

.read-more a img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 153px;
    transition: all ease .3s;
}

.read-more a:hover img {
    left: 162px;
}



/*****************************************************************SAUDI VISION SECTION START   ******************************/


/********************************************************************************** */



.vision1 img {
    z-index: 9999;
}





.vision1 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


.vision1:before {
    content: "";
    position: absolute;
    width: 25%;
    height: 100%;
    left: 70%;
    top: 10%;
    background: #9F1C29;
}

.about-description p,
.vision p {
    font-size: 20px;
    line-height: 40px;

}

.smart-slider .slick-prev,
.smart-slider .slick-next {
    width: 48px;
    height: 48px;
    z-index: 99;
    filter: drop-shadow(0px 12px 14px rgba(0, 0, 0, 0.2));
}

.smart-slider .slick-next {
    transform: rotate(180deg);
}

.smart-slider .slick-prev::before,
.smart-slider .slick-next::before {
    display: none;
}

/* Smart Solution section */

section.smart-solution h2 {
    color: #C48E54;
    margin-bottom: 15px;
    line-height: 43px;
}

.solution-block ul li {
    margin: 30px auto;
}

a.smart-block {
    display: flex;
    text-align: center;
    min-height: 200px;
    cursor: pointer;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border: 1px solid rgba(255, 255, 255, .97);
    width: 100%;
    margin: 0 auto;
    transition: all ease .3s;
}

.smart-block:hover {
    background-color: var(--light-golden);
    border-color: var(--light-golden);
}

.solution-block ul {
    justify-content: center;
}

.solution-block ul li {
    margin: 25px 60px 25px;
    width: 23%;
    justify-content: center;
    align-items: center;
}

.smart-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.smart-heading .read-more {
    margin-right: 10%;
}

.smart-heading p,
a.smart-block h6 {

    color: rgba(255, 255, 255, .97);
}


.smart-solution {
    background-color: rgba(0, 0, 0, 0.5);
}

.change-on-hover {
    background-image: url('../images/hospitality.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    transition: all ease .3s;
    position: relative;
}

.change-on-hover::before {
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .39);
    right: 0;
    bottom: 0;
    z-index: 0;
    content: '';
    position: absolute;
}

.change-on-hover.post-hover1 {
    background-image: url('../images/hospitality.jpg');
}

.change-on-hover.post-hover2 {

    background-image: url('../images/technical.jpg');
}

.change-on-hover.post-hover3 {
    background-image: url('../images/opening.jpg');
}

.change-on-hover.post-hover4 {
    background-image: url('../images/asset.jpg');
}

.change-on-hover.post-hover5 {
    background-image: url('../images/business.jpg');
}

.solution-block {
    padding: 3% 7% 0;
    position: relative;
}

a.smart-block h6 {
    margin-top: 15px;
}

.smart-heading .read-more a {
    color: var(--light-golden);
}

.smart-solution .read-more a::before {
    border-color: var(--light-golden);
}

.modal.right .modal-dialog {
    position: fixed;
    margin: auto;
    max-width: 850px;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
    z-index: 99999;
}

.modal.right .modal-content {
    height: 100%;
    overflow-y: visible;

    max-width: 89%;
    margin-left: auto;
}

.modal.right.fade .modal-dialog {
    right: -320px;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
    -o-transition: opacity 0.3s linear, right 0.3s ease-out;
    transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.show .modal-dialog {
    right: 0;
}
.modal-header .close {
    padding: 1rem 1rem;
    margin: 0;
    position: absolute;
    left: -50px;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: #fff;
    z-index: 9999;
    top: 72px;
    opacity: 1;
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-header .close span {
    font-size: 35px;
    font-weight: 300;
}

.modal-header .close:hover {
    opacity: 1 !important;
    background: #f3efe5;
}

.modal.right .modal-content {
    padding: 30px;
    background-color: #f3efe5;
}

.modal.right .modal-content img {
    margin-bottom: 30px;
}

.modal-header {
    border: 0;
    padding: 50px 15px 30px;
}

.modal-header .modal-title {
    font-family: 'rbregular';
    font-size: 34px;
    line-height: 1.5;
    text-transform: uppercase;

}


/* Success Project */

.success-slider .slick-list {

    padding: 0 0 0 0%;
}


.right-bottom-card {
    max-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 50px;
    z-index: 99;
    right: 0px;
    left: auto;
    padding: 55px 75px;
    color: rgba(255, 255, 255, .97);
}

.content-slider {
    position: absolute;
    top: auto;
    bottom: 10px;
    right: auto;
    left: 790px;
    background-color: var(--secondary-color);
    width: 830px;
    min-height: 476px;
}

.success-slider,
.success-slide {
    min-height: 100%;
    position: relative;
}

.success-slider {
    max-width: 100%;
    padding: 0 0 0 0;
}


.slick-prev.prev,
.slick-next.next {
    left: 39px;
    bottom: -30px;
    top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    z-index: 9;
}

.slick-prev.prev {
    left: 0px;
    transform: rotate(180deg);
    opacity: .5;
    transition: all ease .3s;
}

.slick-next.next {
    opacity: .5;
    transition: all ease .3s;
}

.success-slider .slick-next.next img {
    margin-top: 29px;
}

.slick-next.next:hover,
.slick-next.next:focus {
    opacity: 1;
}

.slick-prev.prev:hover,
.slick-prev.prev:focus {
    opacity: 1;
}


.slick-prev.prev::before,
.slick-next.next::before {
    display: none;
}

.success-project h2 {
    margin-bottom: 30px;
    color: var(--secondary-color);
}

.right-bottom-card h3 {
    color: rgba(255, 255, 255, .97);

    margin-bottom: 15px;
}


.rel {
    position: relative;
}

.scroll {
    width: 41px;
    height: 41px;
    border: 2px solid rgba(255, 255, 255, .97);
    border-radius: 50%;
    position: absolute;
    animation: down 1.5s infinite;
    -webkit-animation: down 1.5s infinite;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: auto;
}

.scroll::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 12px;
    width: 14px;
    height: 14px;
    border-left: 2px solid rgba(255, 255, 255, .97);
    border-bottom: 2px solid rgba(255, 255, 255, .97);
    transform: rotate(-45deg);
}

@keyframes down {
    0% {
        transform: translate(0);
    }

    20% {
        transform: translateY(15px);
    }

    40% {
        transform: translate(0);
    }
}

@-webkit-keyframes down {
    0% {
        transform: translate(0);
    }

    20% {
        transform: translateY(15px);
    }

    40% {
        transform: translate(0);
    }
}

.brand-logo {
    padding: 25px;
}

/* Latest Blog */

.blog-section {

    background-color: #F6EEE5;
}

.blog-section h2 {
    color: var(--light-golden);
    margin-bottom: 15px;
}

.blog-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blog-heading a {
    color: var(--light-golden);
    margin-right: 100px;
}

.blog-short {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
}

.blog-section .col-md-6:first-of-type {
    margin-top: 100px;
}

.blog-short span {
    display: inline-block;
    margin-bottom: 7px;
}

.blog-short b {
    position: relative;
    left: 0;
    transition: all ease .3s;
}

.blog-section a:hover .blog-short b {
    left: 15px;
}

/* Get in touch */

.get-in {
    padding-right: 30%;
}

.get-in-touch h2 {
    color: var(--secondary-color);
    margin-bottom: 15px;
}



.contactus {
    padding-right: 10%;
}

.contactus .form-control {
    margin-bottom: 25px;
    border: 0;
    border-bottom: 1px solid #000;
    border-radius: 0;
    min-height: 50px;
    padding: 15px 5px;
    background: rgba(255, 255, 255, .97);
}

.contactus textarea {
    min-height: 100px;
    padding: 10px 5px;
    border-bottom: 1px solid #000;
    width: 100%;
    resize: none;
    margin-bottom: 25px;
}

.contactus .read-more:after {
    content: '';
    width: 35px;
    height: 35px;
    background: transparent;
    border: 2px solid var(--secondary-color);
    transform: rotate(45deg) translateY(-50%);
    display: inline-block;
    position: absolute;
    top: 44%;
    left: auto;
    right: 90px;
}

.contactus .read-more img.arrow {
    left: 130px;
}

.read-more .submit {
    font-size: 21px;
    background: transparent;
    border: 0;
    padding: 10px 0;
    color: var(--secondary-color);
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    line-height: 30px;
    max-width: 150px;
    margin-right: 60px;
    position: relative;
}
.contactus .read-more br {
    display: none;
}
.contactus .read-more{
    display: inline-block;
}


.read-more .submit img {
    position: absolute;
    top: 25px;
    left: auto;
    right: 10px;
    transition: all ease .3s;
}

.read-more .submit:hover img {
    right: 0;
}

.contactus input:focus,
.contactus textarea:focus {
    box-shadow: none;
    border-color: var(--secondary-color);
}

.contactus input::placeholder,
.contactus textarea::placeholder {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: #000;
}


/* Blog Page */

.blog-img img {
    background-size: cover;
    width: 100%;
}

.date-description span {
    margin-bottom: 10px;
    display: block;
    font-size: 20px;
    line-height: 23px;
}

section.blog {
    position: relative;
}



.image_widget {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.date-description p {
    font-weight: 600;
    font-family: 'rbregular';
    font-size: 26px;
    line-height: 31px;
    margin-bottom: 30px;
}

section.blog-listing{
    padding: 150px 0px 50px;
}

section.blog-listing .col-md-5:nth-child(3n+2) {
    margin-top: -50px;
}
.recent-blog-listing .col-md-4:nth-child(3n+2) {
    margin-top: -50px;
}
section.recent-blog-listing {
    padding: 125px 0px 100px;
}
.recent-blog-heading {
    padding-bottom: 50px;
}

.number-list li span {
    margin-right: 10px;
    font-size: 30px;
}

.number-list ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.number-list img {
    height: 33px;
}

.next {
    text-align: right;
}



.date-description {
    padding: 0 20px;
}


.page-active {
    color: #000;
    font-weight: 600;
}

.number-list ul li {
    margin: 0px 10px;
}

.line {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
}


.previous span {
    opacity: 0.5;
}
.blog_listing {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.previous.line, .next.line {
    display: flex;
    align-items: center;
    justify-content: center;
}
section.pagination-section {
    padding: 50px 0px 100px;
  }

/*****************************************************************ABOUT US SECTION START   ******************************/

/********************************************************************************** */

.about {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 19.7% 0;
    background-position: center;
    /* background-attachment: fixed; */
    margin-bottom: 30px;
}


.page-description {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}

.page-description h5 {
    color: #fff;
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 15px;
    font-weight: 500;
}

.page-description h3 {
    font-size: 60px;
    line-height: 72px;
    color: #fff;
    font-family: "rbregular";
    font-weight: 600;
}

section.about-section {
    position: relative;
    padding: 100px 0px 100px;
}

.image-widget-corner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-right {
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(90%, 50%);
}

.yakoon-about-description p {
    line-height: 40px;
    font-size: 20px;
}

.img-left:before {
    content: "";
    position: absolute;
    width: 168px;
    height: 419px;
    left: 12%;
    top: -35px;
    background: #9f1c29;
    z-index: -99;
}


.img-left:after {
    content: "";
    height: 340px;
    position: absolute;
    width: 275px;
    left: 50%;
    top: 160px;
    background: #9f1c29;
    z-index: -999;
}


.yakoon-about-description {
    max-width: 700px;
    padding-left: 25%;
}


.success-story {
    background: #F6EEE5;
    margin: 50px 0 0;
}


.success-heading p {
    max-width: 740px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.success-heading h2 {
    color: #C48E54;
}



.vision-points p {
    padding-right: 0px;

    margin-top: 20px;
}

.mission-vision p {
    color: #fff;
   
    margin-bottom: 5px;
    line-height: 36px;
}

.mission-vision {
    padding-top: 5px;
    margin-bottom: 39px;
}

.mission-vision h3,
.vision-points h3 {
    margin-bottom: 15px;
}

.bullet-design {
    font-weight: 600;
    font-size: 40px;
    font-family: 'rbregular';
    color: #ffff;
    opacity: 0.5;
}

.bg-brown p {
    line-height: 1.5;
}

.bg-brown {
    background: var(--secondary-color);
    padding: 35px;
}

.vision-points:before {
    content: none;
    position: absolute;
    width: 801px;
    height: 620px;
    background: #9F1C29;
    z-index: -99;
    left: 0px;
    bottom: 0px;
}

.vision-points p {
    line-height: 35px;
    font-size: 20px;
    color: #fff;
}

.vision-points {
    padding: 0;
}


.yakoon-about-description .read-more a:before {
    left: auto;
    right: -65px;
}

.yakoon-about-description .read-more a img {
    left: 225px;
}

.yakoon-about-description .read-more a:hover img {
    left: 235px;
}

.video-introduction {
    position: relative;
    z-index: 999;
}

.video-introduction .play-pause {
    position: absolute;
    content: '';
    cursor: pointer;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;

}

.video-introduction video {
    cursor: pointer;
}

.team-con {
    padding-right: 35px;
}

/* actual code */

.simple-gallery {
    width: 90%;
}

.simple-gallery img {
    width: 100%;
}

.simple-gallery ul {
    list-style-type: none;
    line-height: 0;
}

.simple-gallery .simple-gallery--preview {
    width: 52.4%;
    float: right;
    margin-right: 2%;
}

.simple-gallery .simple-gallery--thumbs {
    width: 43%;
    float: left;
}

.simple-gallery .simple-gallery--thumbs ul li {
    margin-bottom: 10%;
}

section.reason-why {
    background: #F6EEE5;
}

.reason-info li {
    padding-left: 19px;
}

.reason-info li h5 {
    position: relative;
}

.reason-info li h5:before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -19px;
    width: 15px;
    height: 15px;
    background: url(../images/diamond.png);
    background-repeat: no-repeat;
}

.reason-info h5 {
    color: #000;
}

.reason-info h3 {
    color: #C48E54;
    font-size: 40px;
    line-height: 56px;
    margin-bottom: 15px;
}

.team-main h4 {
    font-family: 'rbregular';
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    color: var(--light-golden);
    margin-bottom: 15px;
}


.team-widget,
.team-information {
    position: relative;
}

.img-descrip-widget {
    position: absolute;
    background: rgba(255, 255, 255, .85);
    left: 0px;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 75px;
    padding: 10px 25px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 110px;
}

.img-descrip-widget::after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    bottom: 0;
    width: 5px;
    height: 100%;
    background-color: var(--secondary-color);
}

.img-descrip-widget h5 {
    color: var(--secondary-color);
    font-family: 'rbregular';
    font-size: 30px;
    line-height: 36px;
    font-weight: 600;
}

.img-descrip-widget p {
    margin-bottom: 0;
}


.team-description {
    margin-top: 1%;
}

.designation-info {
    font-size: 25px;
    line-height: 30px;
    color: var(--light-golden);
    margin-bottom: 15px;

}

.leader-board .row {
    justify-content: flex-start;
    align-items: sta;
}

.team-description p {
    line-height: 40px;
}

.img-descrip-widget .read-more a::before {
    left: 0px;
}

.img-descrip-widget .read-more a img {
    position: relative;
    left: -19px;
    top: 9px;
    transform: none;
    transition: all ease .3s;
}

.img-descrip-widget .read-more a:hover img {
    left: -9px;
}

.img-descrip-widget.block {
    position: unset;
}

.img-descrip-widget.block h6 {
    font-size: 21px;
    font-family: 'rbregular';
    color: var(--secondary-color);
    margin-bottom: 0;
}

.team-information {
    margin-bottom: 30px;
}

/* Team slider */
.slick-prev.prev1::before,
.slick-next.next1::before {
    content: none;
}

.slick-prev.prev1,
.slick-next.next1 {
    left: auto;
    right: 55px;
    top: -30px;
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
}

.slick-next.next1 {
    right: 15px;
    transform: none;
}

.middle-slider .slide {
    cursor: pointer;
}

.middle-slider .slide>div {
    position: relative;
    margin: 10px;
}

.middle-slider .slide img {
    width: 100%;
}

.middle-slider .slide .img-descrip-widget.block {
    position: unset;
}

/* Service Page */


.service-grid h2 {
    color: var(--secondary-color);
    margin-bottom: 15px;
}

.service-grid p {
    font-size: 20px;
    line-height: 40px;
}

.img-box {
    padding: 65px;

    filter: drop-shadow(0px 15px 22px rgba(0, 0, 0, 0.25));

}

.bg-theme {
    width:132%;
    position: absolute;
    background: #F6EEE5;
    min-height: 100%;
    z-index: -1;
    left: -32%;
}

.right-bg-theme {
    left: auto;
    right: -32%;
}

.content-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.content-box.right-side {
    padding-left: 3em;
}
.content-box.left-side {
    padding-right: 3em;
}

section.service-grid {
    overflow-x: hidden;
    padding: 60px 0px 60px;
}

/*****************************************************************CONTACT US SECTION START   ******************************/

/********************************************************************************** */

.para-info {
    max-width: 815px;
    margin: 0 auto 50px;
    text-align: center;
}

.email-details span {
    display: block;
}

.visit-us {
    margin-top: 50px;
}

.visit-us p {
    font-size: 16px;
    font-weight: 400;
}


.contact-info input {
    max-width: 600px !important;
    min-height: 65px;
    background: #f6eee5;
    border: #f6eee5;
    padding: 15px 25px;
}

.contact-info textarea {
    max-width: 600px !important;
    min-height: 120px;
    background: #f6eee5;
    border: #f6eee5;
    padding: 15px 25px;
    resize: none;
}

.contact-info .form-control:focus {
    color: #495057;
    background-color: #f6eee5;
    border-color: #f6eee5;
    outline: 0;
    box-shadow: 0 0 0 0.2rem #f6eee5;
}

.para-info h4 {
    font-weight: 400;
    font-family: "rbregular";
    font-size: 24px;
    line-height: 40px;
}

.email-details h5,
.visit-us h5 {
    font-size: 29px;
    color: var(--secondary-color);
    margin-bottom: 15px;
}

.submit {
    width: 100%;
    display: flex;
    align-items: start;
}

.email-details a,
.visit-us a {
    display: block;
    line-height: 1.5;
    margin-bottom: 10px;
}

.contact-detail h2,
.contact-info h2 {
    color: var(--secondary-color);
    margin-bottom: 19px;
}

.contact-detail {
    margin-bottom: 35px;
}

/*****************************************************************NEWS RESOURCEs SECTION START   ******************************/

/********************************************************************************** */
.featured-blog h3 {
    color: #000;
    font-size: 63px;
    line-height: 84px;
    margin-bottom: 70px;
}

.para-resource {
    max-width: 1195px;
    margin: 0 auto;
    margin-bottom: 70px;
}

.resource-cream {
    padding: 22% 0;
    background: #e1cab0;
}

.featured-blog {
    margin-top: -20%;
}

.featured-img {
    margin-top: -60% !important;
}

.featured-blog h3 {
    color: #000;
}

.resource-white {
    padding: 20% 0;
}

.post-img {
    margin-top: -44% !important;
}

.bold-para {
    margin-top: 50px;
    font-family: "rbregular";
    font-weight: 600;
    font-size: 25px;
    line-height: 37.5px;
}

.icon img {
    padding: 0px 10px;
}

.icon {
    text-align: right;
}

.resource-cream-block {
    padding: 10% 0 4%;
    background: #f6eee5;
}

.post-decription {
    max-width: 1195px;
    margin: 0 auto;
}

.share-with {
    border-top: 1px solid #c48e54;
    border-bottom: 1px solid #c48e54;
    padding: 15px;
}

.share-with h5 {
    color: #000;
}

.black-shade {
    background-color: #200407;
}

.black-shade.header-fixed {
    background-color: rgba(0, 0, 0, 0.7);
}

.mb-6 {
    margin-bottom: 60px;
}

.share-with h5 {
    margin-bottom: 0;
}

.over-hidden {

    overflow: hidden;
}


/* Footer start */

.footer,
.footer a {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    line-height: 24px;
    background: #3b3a3e;
    color: #4A4A4A;
    transition: all ease .3s;
}

footer {
    position: relative;

}

footer h6 {

    font-size: 18px;
    line-height: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin-bottom: 15px;

}

.footer span a {
    color: #C48E54;
}

.logo {
    max-width: 150px;
}

footer b {

    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: #000;

    margin-right: 14px;
}

.contact-number {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;


}

.contact-number span {
    color: #C48E54;
}

.copyright {
    text-align: center;
    color: #C48E54;
}


ul.footer_menu.social-icon li {
    padding: 10px;
}

ul.footer_menu.social-icon li {
    margin-left: 25px;
}


ul.footer_menu.social-icon {
    display: flex;
    justify-content: stretch;
    align-items: center;
}

.copyright p {
    font-size: 14px;
    line-height: 16px;
}


.border-line {
    border-bottom: 1px solid #C48E54;
    margin-bottom: 20px;
}